*
{
	padding: 0;
	margin: 0;
}
html,body
{
	width:100%;
	height:100%;
}
ul
{
	position:relative;
	
	list-style: none;
}
.wrapper
{
	position:relative;
	min-height:600px;
	min-width:800px;
}
li
{
	position:relative;
	float: left;
}
ul .clearBoth
{
	clear: both;
}
.leftHolder
{
	width:600px;
	min-height:600px;
	overflow: hidden;
}
